//@import "~bootstrap/dist/css/bootstrap";
@import "~bootswatch/dist/yeti/_variables";
@import '~element-ui/lib/theme-chalk/index.css';

.el-select{
  width: 100%;
}
.nav-link{
  width: 120%;
}
.router-link-exact-active {
  color: $info !important;;
  font-weight: bold;
}

.card-bg-danger{
  background: rgba(255, 31, 46, 0.05) !important;
}
.card-bg-danger:hover{
  background: rgba(255, 119, 0, 0.07) !important;
}

.align-right{
  position: absolute;
  right: 2px;
  top: 2px;
}
.row {
  padding-top: 50px;
}
.table-border-danger{
  border: 1px solid red;
}
.card-footer{
  position:absolute;
  bottom:0;
  width:100%;
}
.card-deck .card{
  padding-bottom:50px;
}
.row-item:hover{
  border-color: $info !important;
  border-style: dashed;
  background: rgba(42, 170, 207, 0.05);
}

.fa-ellipsis-v{
  width: 18px;
  color:black;
}
.vs-input
{
  position: absolute;
  left: 0;
}
.con-select{
  margin-left: 10px;
  margin-top: 20px;
}
.el-notification__title{
  text-align: left !important;
}
.required{
  color:red;
}
.navbar{
  border-bottom-style: solid !important;
}
$material-icons-font-path: 'material-icons/iconfont/';
@import '~material-icons/iconfont/material-icons.scss';
@import "~vuesax/dist/vuesax.css";
@import "~bootswatch/dist/cosmo/bootstrap";
@import "~font-awesome/scss/font-awesome.scss";



