<template>
    <div>
      <div class="row">
        <div class="col-md-12">
          <h1>Dashboard</h1>
        </div>
      </div>
    </div>
</template>

<script>
    export default {
        name: "dashboard"
    }
</script>

<style scoped>

</style>
