<template>
    <div>
        <div class="row">
            <div class="col-md-12">
                <h3>Listado de niveles</h3>
                <hr>
                <div class="btn-group" role="group" aria-label="Basic example">
                    <router-link :to="{name : 'nivel-nuevo'}" tag="button" class="btn btn-primary">Nuevo</router-link>
                    <!--<button type="button" class="btn btn-primary">Editar</button>
                    <button type="button" class="btn btn-primary" @click="vista_tabla = !vista_tabla">Toggle</button>-->
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12" v-show="niveles ==null">
                <br><br>
                <center>
                    CARGANDO...
                </center>
                <br><br>
            </div>
            <div class="col-md-12" v-show="niveles != null && niveles.length == 0">
                <br><br>
                <center>
                    NO HAY NIVELES REGISTRADOS EN EL SISTEMA
                </center>
                <br><br>
            </div>

            <div v-if="vista_tabla == false && niveles != null && niveles.length >0 " class="col-md-3" v-bind:class=""
                 v-for="row in niveles" style="cursor: pointer;">
                <div class="row-item"
                     v-bind:class="row.deleted_at !=null ? 'card border-danger card-bg-danger' : 'card' "
                     style="height: 200px">
                    <div class="align-right">
                        <div class="btn-group dropleft" role="group">
                            <button id="btnGroupDrop2" type="button" class="btn-outline-secondary"
                                    data-toggle="dropdown"
                                    aria-haspopup="true" aria-expanded="true"><i class="fa fa-ellipsis-v"></i></button>
                            <div class="dropdown-menu" aria-labelledby="btnGroupDrop2" x-placement="bottom-start"
                                 style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 36px, 0px);">
                                <a class="dropdown-item" v-if="row.deleted_at == null"
                                   v-on:click="edit(row)" href="#"><i class="fa fa-trash-o"></i> Desactivar</a>
                                <a class="dropdown-item" href="#" v-else v-on:click="edit(row)"><i
                                        class="fa fa-check-circle"></i>
                                    Habilitar</a>
                            </div>
                        </div>
                    </div>
                    <div class="card-body" style="padding: 0">
                        <h5 class="card-title text-success" style="height: 38px; margin : 5px">
                            {{row.nombre}}
                        </h5>
                        <h6 class="card-subtitle text-muted" style="height: 30px;">
                            {{row.nivelpadre== null ? '' : row.nivelpadre.nombre}}
                        </h6>
                        <div class="card-text">
                            <span>{{row.descripcion}}</span>
                        </div>
                    </div>
                    <!--<div class="card-footer text-muted">
                      <a href="#" class="card-link ">Another link</a>
                    </div>-->
                </div>
            </div>
            <div v-if="vista_tabla == true && niveles != null && niveles.length >0 " class="col-md-12">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th scope="col" style="width: 180px">Nombre</th>
                        <th scope="col" style="width: 180px">Ducto Padre</th>
                        <th scope="col">Descripción</th>
                        <th scope="col" style="width: 50px"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-for="row in niveles" v-bind:class="row.deleted_at == null ? '' : 'table-border-danger card-bg-danger'">
                        <td>{{row.nombre}}</td>
                        <td>{{row.nivelpadre== null ? '' : row.nivelpadre.nombre}}</td>
                        <td>{{row.descripcion}}</td>
                        <td>
                            <div class="btn-group dropleft" role="group">
                                <button id="btnGroupDrop3" type="button" class="btn-outline-secondary"
                                        data-toggle="dropdown"
                                        aria-haspopup="true" aria-expanded="true"><i class="fa fa-ellipsis-v"></i>
                                </button>
                                <div class="dropdown-menu" aria-labelledby="btnGroupDrop2" x-placement="bottom-start"
                                     style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 36px, 0px);">
                                    <a class="dropdown-item" v-if="row.deleted_at == null"
                                       v-on:click="edit(row)"><i class="fa fa-trash-o"></i> Inhabilitar</a>
                                    <a class="dropdown-item" href="#" v-else v-on:click="edit(row)"><i class="fa fa-check-circle"></i> Habilitar</a>
                                </div>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "niveles",
        data: function () {
            return {
                client: null,
                vista_tabla: false,
                niveles: null

            }
        },
        watch: {
            vista_tabla(val) {
                localStorage.setItem("nv_vis", val);
            }
        },
        mounted() {
            var _this = this;
            //variable para el tipo de vista
            _this.vista_tabla = localStorage.getItem("nv_vis") != null ?
                (localStorage.getItem("nv_vis") === "true" ? true : false)
                : false;
            //recupero socket cliente
            _this.client = _this.$root.getClient();
            _this.client.on('recibeducto', (res) => {
                console.log("niveles recibidos")
                if (_this.niveles != res) {
                    _this.niveles = res;

                }
            })
            _this.client.emit('listNiveles', '');
        },
        methods: {
            edit(row) {
                const _this = this;
                this.$root.confirmacion(
                    'Confirmar operación',
                    'Confirma ' + (row.deleted_at == null ? 'inhabilitar' : 'habilitar ') + ' nivel',
                    function () {
                        _this.client.emit('editnivel', row);
                    }
                );
            }
        },
        destroyed() {
            try {
                //this.client.close();
                console.log('client closed')
            } catch (e) {
                console.log('client not disconnet. e: ' + e);
            }
        }
    }
</script>

<style scoped lang="scss">
    $margin: 5px;

    .card-subtitle {
        padding: $margin !important;
        text-align: center;
        font-size: 0.9em;
        overflow: scroll;

    }

    .card-body {
        padding: $margin !important;
    }

    .card-title {
        padding: $margin !important;
    }

    .card-text {
        font-size: 0.9em;
        overflow: scroll;
        height: 120px;
        padding: 15px !important;
        text-align: justify !important;
    }
</style>
