<template>
    <div>
        <div class="row">
            <div class="col-md-12">
                <h3>Registrar nuevo nivel de ducto</h3>
                <hr>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label>
                        <sup class="required">*</sup>Código del nivel:
                        <i class="fa fa-question-circle-o"
                           data-toggle="popover" data-placement="top"
                           data-content="Un código unico que identifique el nivel"
                           data-original-title="Ayuda del campo"></i>
                    </label>
                    <el-input placeholder="Código" v-model="codigo"/>
                </div>
            </div>
            <div class="col-md-9">
                <div class="form-group">
                    <label>
                        <sup class="required">*</sup>Nombre del nivel:
                    </label>
                    <el-input placeholder="Nombre" v-model="nombre"/>
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    <label>
                        Descripción:
                        <i class="fa fa-question-circle-o"
                           data-toggle="popover" data-placement="top"
                           data-content="Un código unico que identifique el nivel"
                           data-original-title="Ayuda del campo"></i>
                    </label>
                    <el-input
                            type="textarea"
                            :autosize="{ minRows: 3, maxRows: 3}" v-model="descripcion"/>
                </div>
            </div>
        </div>
        <div class="row">

            <div class="col-md-12 align-content-center">
                <div class="btn-group" role="group" aria-label="Basic example">
                    <button tag="button" class="btn btn-secondary">Cancelar</button>
                    <button class="btn btn-success" v-on:click="save()">Guardar</button>
                </div>
            </div>
            <div class="col-md-12">
                <br>
                <b class="required">*</b> Campos obligatorios.
            </div>
        </div>
    </div>
</template>

<script>

    $(function () {
        jQuery('[data-toggle="popover"]').popover()
    })

    jQuery('body').on('click', function (e) {
        jQuery('[data-toggle="popover"]').each(function () {
            //the 'is' for buttons that trigger popups
            //the 'has' for icons within a button that triggers a popup
            if (!jQuery(this).is(e.target) && jQuery(this).has(e.target).length === 0 && jQuery('.popover').has(e.target).length === 0) {
                jQuery(this).popover('hide');
            }
        });
    });

    import CardFooter from "bootstrap-vue/es/components/card/card-footer";

    export default {
        components: {CardFooter},
        name: "nivel-nuevo",
        data: function () {
            return {
                client: null,
                codigo: null,
                nombre: null,
                descripcion: null,
                puerto_analogo: '',
                puerto_digital: '',
                tipo_gas: null,
                options_tipo_gas: []
            }
        },
        mounted() {
            this.client = this.$root.getClient();
            this.client.on('op', (res) => {
                console.log('op : ' + res);
                this.$root.notificacion(res);
            });
        },
        methods: {
            edit(row) {
                const _this = this;
                //mensaje de confirmación
                this.$femr
                    .alert(
                        'Confirmación',
                        'Confirma ' + (row.deleted_at == null ? 'inhabilitar' : 'habilitar ') + ' sensor'
                    )
                    .success(function () {
                        _this.client.emit('edit', row);
                    })
                    .show();

            },

            save() {
                console.log('click en save')
                const params = {'codigo': this.codigo, 'nombre': this.nombre, 'descripcion': this.descripcion};
                try{
                    this.client.emit('newnivel', params);
                }catch (e) {
                    console.log(e);
                    if(e.toString().indexOf('There is no active subscription for sensor topic')){
                        this.$root.notificacion({'status': 'error', 'title': 'Error de conexión', 'message': 'Comunicación con el servidor perdida.<br>Recarge la pagina y vuelva a intentar.'})
                    }
                }
            }
        },
        created() {
            const _this = this;
            //optengo la lista de tipos de gases
            jQuery.ajax({
                url: this.$femr.api('gastipo/list'),
                type: 'get',
                success(res) {
                    console.log(res)
                    _this.options_tipo_gas = res.data;
                }
            })
        },
        destroyed() {
            try {
                this.client.close();
            } catch (e) {
                console.log('client not disconnet. e: ' + e);
            }
        }
    }
</script>

<style scoped>
    .connected {
        color: red;
    }

</style>
