<template>
    <div>
        <div class="row">
            <div class="col-md-12">
                <h3>Listado de sensores</h3>
                <hr>
                <div class="btn-group" role="group" aria-label="Basic example">
                    <router-link :to="{name : 'sensor-nuevo'}" tag="button" class="btn btn-secondary">Nuevo
                    </router-link>
                    <!--<button type="button" class="btn btn-secondary">Editar</button>
                    <button type="button" class="btn btn-secondary">Eliminar</button>-->
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12" v-show="sensores ==null">
                <br><br>
                <center>
                    <img :src="loading">
                </center>
                <br><br>
            </div>
            <div class="col-md-12" v-show="sensores != null && sensores.length == 0">
                <br><br>
                <center>
                    NO HAY SENSORES REGISTRADOS EN EL SISTEMA
                </center>
                <br><br>
            </div>
            <div class="col-md-3" v-if="sensores!=null" v-bind:class=""
                 v-for="row in sensores" style="cursor: pointer;">
                <div  class="row-item"
                     v-bind:class="row.deleted_at !=null ? 'card border-danger card-bg-danger' : 'card' "
                     style="height: 200px">
                    <div class="align-right" style="z-index: 1000">
                        <div class="btn-group dropleft" role="group">
                            <button id="btnGroupDrop2" type="button" class="btn-outline-secondary"
                                    data-toggle="dropdown"
                                    aria-haspopup="true" aria-expanded="true"><i class="fa fa-ellipsis-v"></i></button>
                            <div class="dropdown-menu" aria-labelledby="btnGroupDrop2" x-placement="bottom-start"
                                 style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 36px, 0px);">
                                <router-link :to="{ name: 'sensor-nuevo', params: { sensor: row }}" class="dropdown-item"><i class="fa fa-pencil"></i> Editar</router-link>
                                <a class="dropdown-item" v-if="row.deleted_at == null"
                                   v-on:click="edit(row)"><i class="fa fa-trash-o"></i> Desactivar</a>
                                <a class="dropdown-item" href="#" v-else v-on:click="edit(row)"><i class="fa fa-check-circle"></i>Habilitar</a>
                            </div>
                        </div>
                    </div>
                    <router-link router-link :to="{name: 'sensor-detalle', params:{sensor:row}}" class="card-body">
                        <h5 class="card-title" style="height: 38px">
                            {{row.nombre}}
                        </h5>
                        <h6 class="card-subtitle mb-2 text-muted" style="height: 30px">{{row.gastipo.nombre}}</h6>
                        <div class="card-text">
                            <h4>{{row.lectura == null ? '----' : row.lectura.valor}}</h4>
                        </div>
                    </router-link>
                    <!--<div class="card-footer text-muted">
                      <a href="#" class="card-link ">Another link</a>
                    </div>-->
                </div>
            </div>
        </div>
    </div>
</template>

<script>


    import CardFooter from "bootstrap-vue/es/components/card/card-footer";

    export default {
        components: {CardFooter},
        name: "sensores",
        data: function () {
            return {
                loading : '',
                sensores: null,
                client: null
            }
        },

        mounted() {
            var _this = this;
            _this.client = _this.$root.getClient();

            _this.client.on('recibe', (res) => {
                console.log("sensores recibidos")
                if (_this.sensores != res) {
                    console.log(res);
                    _this.sensores = res;

                }
            })
          _this.client.emit('list', '');
        },
        methods: {
            edit(row) {
                const _this = this;
                //mensaje de confirmación

                this.$femr
                    .alert(
                        'Confirmación',
                        'Confirma ' + (row.deleted_at == null ? 'inhabilitar' : 'habilitar ') + ' sensor'
                    )
                    .success(function () {
                        _this.client.emit('edit', row);
                    })
                    .show();

            }
        },
        created() {
            this.loading = this.$femr.asset('img/loading.svg')
        },
        destroyed() {
            try {
                //this.client.close();
                console.log('client closed')
            } catch (e) {
                console.log('client not disconnet. e: ' + e);
            }
        }
    }
</script>

<style scoped>
    .connected {
        color: red;
    }

    .col-md-3 {
        margin-bottom: 10px;
        margin-top: 10px;
    }
</style>
