<template>
    <div>
        <div class="row">
            <div class="col-md-12">
                <h3>Registrar nuevo sensor</h3>
                <hr>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label>
                        Código del sensor:
                        <i class="fa fa-question-circle-o"
                           data-toggle="popover" data-placement="top"
                           data-content="Un código unico que identifique el sensor, una sugerencia seria usar el serial"
                           data-original-title="Ayuda del campo"></i>
                    </label>
                    <el-input placeholder="Código" v-model="codigo"/>
                </div>
            </div>
            <div class="col-md-9">
                <div class="form-group">
                    <label>
                        Nombre del sensor:
                    </label>
                    <el-input placeholder="Nombre" v-model="nombre"/>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label>
                        Nivel donde se ubica:
                        <i class="fa fa-question-circle-o"
                           data-toggle="popover" data-placement="top"
                           data-content="El numero del puerto analogo conectado en el arduino"
                           data-original-title="Ayuda del campo"></i>
                    </label><br>
                    <el-select filterable v-model="nivel">
                        <el-option
                                v-for="item in options_niveles"
                                :key="item.text"
                                :label="item.text"
                                :value="item.value">
                        </el-option>
                    </el-select>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label>
                        Tipo de gas a detectar:
                        <i class="fa fa-question-circle-o"
                           data-toggle="popover" data-placement="top"
                           data-content="El numero del puerto analogo conectado en el arduino"
                           data-original-title="Ayuda del campo"></i>
                    </label><br>
                    <el-select filterable v-model="tipo_gas" style="width: 100%">
                        <el-option
                                v-for="item in options_tipo_gas"
                                :key="item.text"
                                :label="item.text"
                                :value="item.value">
                        </el-option>
                    </el-select>
                </div>
            </div>
            <!--<div class="col-md-2">
                <div class="form-group">
                    <label>
                        Puerto analogo:
                        <i class="fa fa-question-circle-o"
                           data-toggle="popover" data-placement="top"
                           data-content="El numero del puerto analogo conectado en el arduino"
                           data-original-title="Ayuda del campo"></i>
                    </label>
                    <el-input v-model="puerto_analogo" placeholder="Ej. A15"/>
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <label>
                        Puerto digital:
                        <i class="fa fa-question-circle-o"
                           data-toggle="popover" data-placement="top"
                           data-content="El numero del puerto digital conectado en el arduino"
                           data-original-title="Ayuda del campo"></i>
                    </label>
                    <el-input v-model="puerto_digital" placeholder="Ej. 8"/>
                </div>
            </div>-->
        </div>
        <div class="row">
            <div class="col-md-12 align-content-center">
                <div class="btn-group" role="group" aria-label="Basic example">
                    <router-link :to="{name: 'sensores'}" tag="button" class="btn btn-secondary">Cancelar</router-link>
                    <button class="btn btn-success" v-on:click="save()">Guardar</button>
                </div>
            </div>
        </div>
    </div>
</template>

<script>

    $(function () {
        jQuery('[data-toggle="popover"]').popover()
    })

    jQuery('body').on('click', function (e) {
        jQuery('[data-toggle="popover"]').each(function () {
            //the 'is' for buttons that trigger popups
            //the 'has' for icons within a button that triggers a popup
            if (!jQuery(this).is(e.target) && jQuery(this).has(e.target).length === 0 && jQuery('.popover').has(e.target).length === 0) {
                jQuery(this).popover('hide');
            }
        });
    });

    import CardFooter from "bootstrap-vue/es/components/card/card-footer";

    export default {
        components: {CardFooter},
        name: "sensor-nuevo",
        data: function () {
            return {
                client: null,
                id : null,
                codigo: null,
                nombre: null,
                tipo_gas: null,
                nivel: null,
                options_niveles: [],
                options_tipo_gas: []
            }
        },
        mounted() {
            this.client = this.$root.getClient();
            this.client.on('op', (res) => {
                console.log('op : ' + res);
                this.$root.notificacion(res);
            });
            var sensor = this.$route.params.sensor;
            if(sensor!=null){
                this.codigo = sensor.codigo;
                this.nombre = sensor.nombre;
                this.nivel = sensor.nivelducto_id;
                this.tipo_gas = sensor.gastipo_id;
                this.id = sensor.id;
            }
        },
        methods: {
            save() {
                const params = {
                    'id' : this.id, 'codigo': this.codigo, 'nombre': this.nombre,  'tipo_gas': this.tipo_gas, 'nivel': this.nivel
                }

                console.log('click en save')
                try {
                    this.client.emit('newsensor', params);
                } catch (e) {
                    console.log(e);
                    if (e.toString().indexOf('There is no active subscription for sensor topic')) {
                        this.$root.notificacion({
                            'status': 'error',
                            'title': 'Error de conexión',
                            'message': 'Comunicación con el servidor perdida.<br>Recarge la pagina y vuelva a intentar.'
                        })
                    }
                }
            }
        },
        created() {
            const _this = this;
            //optengo la lista de tipos de gases
            jQuery.ajax({
                url: this.$femr.api('gastipo/list'),
                type: 'get',
                success(res) {
                    console.log(res)
                    _this.options_tipo_gas = res.data;
                }
            })
            jQuery.ajax({
                url: this.$femr.api('niveles/listselect'),
                type: 'get',
                success(res) {
                    console.log(res)
                    _this.options_niveles = res.data;
                }
            })
        },
        destroyed() {
            try {
                this.client.close();
            } catch (e) {
                console.log("socket can't close. var is null.")
            }
        }
    }
</script>

<style scoped>
    .connected {
        color: red;
    }

</style>
