<template>
    <div>
        <div class="row" v-if="sensor != null">
            <div class="col-md-6">
                <h1 v-html="sensor.nombre"></h1>
                <h3>Codigo: {{sensor.codigo}}</h3>
            </div>
            <div class="col-md-6">
                <h3>{{sensor.gastipo.nombre}}</h3>
                <h4>{{sensor.gastipo.codigo}}</h4>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-12">
                <center>
                    <h3>Ultimas lecturas del gas</h3>
                </center>
            </div>
            <div class="col-md-12">
                <div v-if="myLineChart == null">
                    <br><br>
                    <center>
                        <img :src="loading">
                    </center>
                </div>
                <canvas id="myChart" class="col-md-12" style="height: 400px;"></canvas>
            </div>
        </div>

    </div>
</template>
<script>

    import Chart from 'chart.js';
    import {Line} from 'vue-chartjs';


    export default {
        name: "SensorDetalle",
        data(){
            return {
                loading : '',
                sensor: null,
                client: null,
                myLineChart: null
            }
        },
        created(){
            this.loading = this.$femr.asset('img/loading.svg');
            this.sensor = this.$route.params.sensor;
            if(this.sensor == null){
                this.$router.push({name: 'sensores'});
            }
            console.log(this.sensor)
        },
        mounted(){
            this.detalle();

        },
        methods:{
            detalle(){
                var _this = this;
                var ctx = "myChart";
                let valores = [];
                let fechas = [];
                jQuery.ajax({
                    url: _this.$femr.api('sensor/detalle'),
                    data: _this.sensor,
                    type: 'post',
                    success: function (res){
                        _this.sensor.lecturas = res.lecturas;

                        for (var i = res.lecturas.length - 1; i >= 0; i--) {
                            valores.push(parseFloat(res.lecturas[i].valor));
                            fechas.push(res.lecturas[i].created_at.split(' ')[1]);
                            _this.sensor.ultimodetalle = res.lecturas[i].created_at;
                        }
                        console.log(valores);
                        _this.myLineChart = new Chart(ctx, {
                            type: 'line',
                            data: {
                                labels: fechas,
                                datasets: [{
                                    fillColor : "rgba(220,220,220,0.5)",
                                    strokeColor : "rgba(220,220,220,1)",
                                    pointColor : "rgba(220,220,220,1)",
                                    pointStrokeColor : "#fff",
                                    label: "Lecturas del gas",
                                    data: valores
                                }]
                            },
                            options: {
                                scaleOverride : true,
                                scaleSteps : 20,
                                scaleStepWidth : 10,
                                scaleStartValue : 0,
                                animation : false,
                                responsive: false,
                                maintainAspectRatio: false,
                                scales: {
                                    yAxes: [{
                                        ticks: {
                                            beginAtZero: true
                                        }
                                    }]
                                }
                            }
                        });
                        setTimeout(_this.lastDetalle,7500);
                    }
                });
            },
            lastDetalle(){
                let _this = this;
                let valores = [];
                let fechas = [];
                jQuery.ajax({
                    url: _this.$femr.api('sensor/newdetalle'),
                    data: _this.sensor,
                    type: 'post',
                    success: function (res){
                        console.log('novedades :'+res.lecturas.length);
                        setTimeout(_this.lastDetalle,7500);
                        if(res.lecturas.length < 1){
                            return;
                        }

                        for (var i = res.lecturas.length - 1; i >= 0; i--) {
                            valores.push(parseFloat(res.lecturas[i].valor));
                            fechas.push(res.lecturas[i].created_at.split(' ')[1]);
                            _this.sensor.ultimodetalle = res.lecturas[i].created_at;
                        }

                        _this.myLineChart.data.labels.push(fechas);

                        _this.myLineChart.data.datasets.forEach((dataset) => {
                            dataset.data.push(valores);
                        });
                        _this.myLineChart.update();
                    }
                });

            }
        }
    }
</script>


<style scoped>

</style>